@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
    <h1 class="display-4 text-capitalize">Welcome to delivery of itanian pasta</h1>
    <h2>Italian pasta is the best in the world!</h2>
    </div>
    <img class="mainImage" src="~/images/main.jpg"/>
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Thanks">GET THIS PASTA</a>

</div>
