@page
@model myAplication.Pages.OrdersModel
@{
}

<h3>Orders</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Pasta Name
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
</table>
