@page
@model myAplication.Pages.PastaModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPasta">CustomPasta</a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>
