html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #c7b39b; 
}

.mainText{
    padding:45px 20px;
}

.mainImage{
    width: 400px;
    height: 400px;
    border-radius:10px;
}